@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  background: #4b6cb7;
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
  background: linear-gradient(to right, #182848, #4b6cb7);

  font-family: 'Poppins', sans-serif;
  margin: 0;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  background-color: #530d8d;
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}
input::placeholder {
  color: #bbb;
}

.card {
  background: #6441a5;
  background: -webkit-linear-gradient(to right, #2a0845, #6441a5);
  background: linear-gradient(to right, #2a0845, #6441a5);

  display: flex;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  padding: 3rem;
  max-width: 900px;
}

.avatar {
  border: 10px solid #2a2a72;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.user-info {
  color: #eee;
  margin-left: 2rem;
}
.user-info h2 {
  margin-top: 0;
}
.user-info ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  max-width: 500px;
}
.user-info ul li {
  display: flex;
  align-items: center;
}
.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
.repo {
  background-color: #2a2a72;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
}
